@model ShittyFakeSpaceX.ViewModels.RegisterViewModel

<div class="page-header">
    <div class="page-header-image" style="background-image:url(../images/start.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <form asp-controller="Account" asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="col-sm-6 offset-md-2">
                    <div class="input-group form-group-no-border input-lg">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="col-sm-6 offset-md-2">
                    <div class="input-group form-group-no-border input-lg">
                        <input asp-for="Email" type="text" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="col-sm-6 offset-md-2">
                    <div class="input-group form-group-no-border input-lg">
                        <select asp-for="Country" asp-items="@Html.GetEnumSelectList<ShittyFakeSpaceX.ViewModels.Country>()" class="form-control"></select>
                    </div>
                </div>
                <div class="col-sm-6 offset-md-2">
                    <div class="input-group form-group-no-border input-lg">
                        <input asp-for="Password" type="password" placeholder="Password" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6 offset-md-2">
                    <div class="input-group form-group-no-border input-lg">
                        <input asp-for="PasswordConfirm" type="password" placeholder="Repeat Password" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6 offset-md-2 text-center">
                    <br />
                    <button type="submit" value="Create" class="btn btn-primary btn-round btn-lg btn-block">Create</button>
                </div>
                <div class="pull-left col-md-10">
                    <br />
                    <h6>
                        <a href="~/Account/Login" class="link">Already have an acount? Log In</a>
                    </h6>
                </div>
            </form>
        </div>
    </div>
</div>
