@{
    ViewData["Title"] = "About";
}

<div class="page-header">
    <div class="page-header-image" style="background-image:url(../images/start.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <h5>This website is not realated to real SpaceX in any way. I don't own any rights for images and content. Please don't sue me.</h5>
            <h1>( ͡° ͜ʖ ͡°)</h1>
        </div>
    </div>
</div>