<div class="wrapper">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h4 class="title text-center">Gallery</h4>
                </div><br />
                <div class="tab-content gallery">
                    <br />
                    <div class="tab-pane active" id="home" role="tabpanel">
                        <br />
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <div class="row collections">
                                    <div class="col-md-4">
                                        <a href="../images/a1.jpg" target="_blank">
                                            <img src="../images/a1.jpg" alt="" class="img-thumbnail">
                                        </a>
                                        <a href="../images/a2.jpg" target="_blank">
                                            <img src="../images/a2.jpg" alt="" class="img-thumbnail">
                                        </a>
                                        <a href="../images/a3.jpg" target="_blank">
                                            <img src="../images/a3.jpg" alt="" class="img-thumbnail">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="../images/a4.jpg" target="_blank">
                                            <img src="../images/a4.jpg" alt="" class="img-thumbnail">
                                        </a>
                                        <a href="../images/a5.jpg" target="_blank">
                                            <img src="../images/a5.jpg" alt="" class="img-thumbnail">
                                        </a>
                                        <a href="../images/a6.jpg" target="_blank">
                                            <img src="../images/a6.jpg" alt="" class="img-thumbnail">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="../images/a7.jpg" target="_blank">
                                            <img src="../images/a7.jpg" alt="" class="img-thumbnail">
                                        </a>
                                        <a href="../images/a8.jpg" target="_blank">
                                            <img src="../images/a8.jpg" alt="" class="img-thumbnail">
                                        </a>
                                        <a href="../images/a11.jpg" target="_blank">
                                            <img src="../images/a11.jpg" alt="" class="img-thumbnail">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="../images/a12.jpg" target="_blank">
                                            <img src="../images/a12.jpg" alt="" class="img-thumbnail">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="../images/a13.jpg" target="_blank">
                                            <img src="../images/a13.jpg" alt="" class="img-thumbnail">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="../images/a14.jpg" target="_blank">
                                            <img src="../images/a14.jpg" alt="" class="img-thumbnail">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>